/* .vibrancy html,
.vibrancy body,
.vibrancy .react-app-node {
	background: none !important;
}

.vibrancy .AsanaPageTopbar {
	background: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,.7)) !important;
} */

.TopbarContingentUpgradeLink, /* Too much "sell" */
.TopbarSettingsMenu-upgrade,
.TopbarHelpMenuButton-button, /* Most of these are in Taskana's Help menu */
.FeatureStageIndicator-feedbackLink--withoutType {
	display: none !important;
}